header {
    background-color: mediumvioletred;
    margin: 0; 
    /*margin-top: 0;*/
    /*margin-right: 0;*/ 
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

header h1 {
    color: white; 
    text-align: center; 
    font-family: 'Times New Roman', Times, serif; 
    font-weight: bold; 
    font-size: xx-large;
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    background-color: rgb(255,228,225);
}

main {
    flex: 1;
}

main h2 {
    margin: 10px; 
    font-family: 'Roboto Slab', 'Oswald', sans-serif; 
    color: mediumvioletred;
    font-size: xx-large;
    /*text-align: center;*/
}

main h3 {
    margin-left: 25px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 600;
    text-align: justify;
}

main h3 a {
    text-decoration: none;
    color: black;
}

main h3 a:hover {
    color: darkblue;
}

main h4 {
    color: black;
}

main a {
    text-decoration: none;
    color: black;
}

main a:hover {
    color: darkblue;
}

nav {
    display: flex; 
    justify-content: space-around; 
    padding: 10px 0; 
    background-color: mediumvioletred;
}

nav a {
    text-decoration: none; 
    color: white; 
    font-size: x-large; 
    font-family: 'Times New Roman', Times, serif;
}

nav a:hover {
    text-decoration: underline; 
    font-style: italic;
}

footer {
    background-color: rgb(66, 65, 65); 
    bottom: 0; 
    position: relative; 
    padding: 10px; 
    width: 100%;
    box-sizing: border-box;
}

footer h1 {
    color: white; 
    text-align: justify; 
    font-family: 'Times New Roman', Times, serif; 
    font-weight: bold; 
    font-size: large;
}

footer h2 {
    color: white; 
    text-align: justify; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: medium;
}

footer a {
    text-decoration: none; 
    color: white;
}

footer a:hover {
    text-decoration: underline; 
    font-style: italic;
}

footer ul li{
    color: white;
}

#forma {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 30px;
    font-size: x-large;
}

section input[type = "submit"]:hover {
    color: white;
    background-color: mediumvioletred;
}

section input[type = "reset"]:hover {
    color: white;
    background-color: mediumvioletred;
}

img {
    margin-left: 100px;
    height: 500px;
    width: auto;
}

#opis {
    font-weight: normal;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 25px;
    margin-right: 100px;
    font-size: 20px;
}

.box {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

button[onclick = "kupi()"] :hover {
    color: white;
    background-color: mediumvioletred;
}

#kup {
    color: white;
}

.kupisega {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    background-color: mediumvioletred;
    color: white;
    margin-left: 20px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}


#imageContainer {
    display: flex;
    flex-wrap: wrap;
}

.image {
    margin: 10px;
}

.like-button {
    margin-top: 5px;
    cursor: pointer;
    color: mediumvioletred;
}

.comments-container {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

#banner {
    margin: 0;
    width: 100%;
    height: 20%;
}

#fileInput {
    display: block;
    margin-bottom: 10px;
}

#buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#addImageBtn {
    background-color: mediumvioletred;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}